body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    height: 100vh;
    width: 100vw;
}

.main-container{
    height: 80%;
    width: 80%;
    display: flex;
    overflow: hidden;
}

.image-container{
    height: 100%;
    width: 50%;
    display: flex;

}